<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>

<div class="playingCards [fourColours|faceImages|simpleCards|inText|rotateHand]">
<ul class="table">
    <li>
        <strong> <!-- if selected -->
                <div class="card rank-7 diams">
                    <span class="rank">7</span>
                    <span class="suit">&diamondsuit;</span>
                </div>
            </strong>
        </li>
        <li>
            <div class="card rank-7 clubs">
                <span class="rank">7</span>
                <span class="suit">&clubs;</span>
            </div>
        </li>
    </ul>
</div>