
  <div class="playingTable">
      <div class="playedCards">
        <div class="playingCards simpleCards">
            <ul class="table">
                <li *ngFor="let card of playedCards;index as i">
                    <a (click)="playCard(i)" [class]="card.name" class="card">
                        <span class="rank">{{card.face}}</span>
                        <span class="suit">{{card.suit}}</span>
                    </a>
                </li>
            </ul>
        </div>
        
      </div>
      <div [style.display]="callActive ? 'inline-block':'none'"  class="calls" #calls>
        <button (click)="makeCall(5)"> All trumps </button> 
        <button (click)="makeCall(4)"> No trumps </button>
        <button (click)="makeCall(3)"> Spades </button>
        <button (click)="makeCall(2)"> Hearts </button>
        <button (click)="makeCall(1)"> Diamonds </button>
        <button (click)="makeCall(0)"> Clubs </button>
        <button (click)="makeCall(7)"> Pass </button>
        <button (click)="makeCall(6)"> Double </button>
      </div>
   <div class="playerCards">
        <div class="playingCards simpleCards">
            <ul class="table">
                <li *ngFor="let card of hand;index as i">
                    <a (click)="playCard(i)" [class]="card.name" class="card">
                        <span class="rank">{{card.face}}</span>
                        <span class="suit">{{card.suit}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>